[submodule "3d_led_cube2"]
	path = 3d_led_cube2
	url = https://github.com/tatsuo98se/3d_led_cube2.git
[submodule "3d_led_cube1"]
	path = 3d_led_cube1
	url = https://github.com/hiroshi-mikuriya/3d_led_cube.git
[submodule "select_contents"]
	path = select_contents
	url = https://github.com/chabukan/select_contents.git
